body {
    margin: 0px;
    overflow: hidden;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

#planet-editor {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: rgba(228, 228, 228, 0.15);
    color: rgb(255, 255, 255);
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    z-index: 10;
    display: none;
}

#planet-editor input {
    width: 80px;
    margin-left: 6px;
    margin-bottom: 8px;
    background-color: rgba(228, 228, 228, 0.15);
    color: rgb(255, 255, 255);
}

#help-tips {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: rgba(228, 228, 228, 0.15);
    color: rgb(255, 255, 255);
    border: 1px solid rgba(228, 228, 228, 0.15);
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    z-index: 10;
}

.dropdown-container {
    position: relative;
    display: inline-block;
}

.dropdown-button {
    background-color: rgba(228, 228, 228, 0.15);
    border: 1px solid rgba(228, 228, 228, 0.15);
    color: rgba(255, 255, 255, 0.15);
    border-radius: 6px;
    padding: 8px 12px;
    cursor: pointer;
}

.dropdown-button:hover {
    color: rgba(228, 228, 228, 0.9);
    border: 1px solid rgba(228, 228, 228, 0.9);
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgba(228, 228, 228, 0.15);
    min-width: 220px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
    border: 1px solid rgba(228, 228, 228, 0.15);
    border-radius: 6px;
    padding: 10px;
    z-index: 100;
}

.dropdown-container:hover .dropdown-content {
    display: block;
}

.dropdown-content hr {
    margin: 10px 0;
    border: 0;
    border-top: 1px solid rgba(228, 228, 228, 0.15);
}

.dropdown-content a {
    color: #007BFF;
    text-decoration: none;
    display: block;
    margin-top: 10px;
}

#pause-play-symbol {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0);
    font-size: 3rem;
    color: white;
    z-index: 10;
    pointer-events: none; 
}

.symbol {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.symbol.show {
    opacity: 1;
}

#diagnostic {
  position: absolute;
  width: 100%;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  z-index: 100;
}

.popup-button {
  background-color: rgba(50, 50, 50, 0.3);
  color: white;
  padding: 4px 5px;
  border-radius: 5px 5px 0 0;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.2s ease;
  user-select: none;
}

.diagnos-info {
  display: none;
  background-color: rgba(20, 20, 20, 0.7);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 6px;
  padding: 8px;
  color: white;
  font-size: 12px;
  margin-top: 4px;
}

#diagnostic:active .diagnos-info {
  display: block;
}
